html {
  font-size: 12px;
}

body {
  color: #767e9e;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.active{
a {
  color: #f06c64 !important;
}
} 

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

.fontsize-18px {
  font-size: 1.5rem;
  line-height: 2.5rem;
}